@import '~office-ui-fabric-react/dist/sass/References.scss';
.industryNews {
    overflow: hidden;
    padding: 1em;
    color: "[theme:bodyText, default: #323130]";
    color: var(--bodyText);
    &.teams {
        font-family: $ms-font-family-fallbacks;
    }
}

.welcome {
    text-align: center;
}

.welcomeImage {
    width: 100%;
    max-width: 420px;
}

.links {
    a {
        text-decoration: none;
        color: "[theme:link, default:#03787c]";
        color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only
        &:hover {
            text-decoration: underline;
            color: "[theme:linkHovered, default: #014446]";
            color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
        }
    }
}

.industryNews {
    box-shadow: 0px 2px 4px #00000024, 0px 0px 2px #0000001f;
    background-color: #fff;
    h3 {
        margin: 0;
        font-size: 20px;
        color: #03606a;
    }
    .subTitleSection {
        color: #03606a;
        margin: 10px 0;
        font-size: 16px;
    }
    .urlSection {
        margin: 10px 0;
        .url {
            margin: 20px 0;
        }
        a {
            color: #03606a;
            background-color: #ffe49f;
            padding: 6px 20px;
            font-weight: 600;
            border-radius: 5px;
        }
    }
}